{% extends "base.html.twig" %}
{% block body %}
    {% if title is defined %}
        <h1>{{title ~ ' String'}}</h1>
    {% endif %}

    {# Listas de Postagens #}
    <ul>
    {% for post in posts %}
        <li>{{ post.id }} - {{ post.title }} - {{ post.created_at|date("d/m/Y H:m:s") }}</li>
    {% endfor %}
    </ul>
    {# Listas de Postagens #}
    {% include "include.html.twig" %}

    {{ 'Davi ' ~ ' Bernardo' }}
    <br>
    {{ 9*4 }}

{% endblock %}            
{% block javascripts %}
{% endblock %}